
/**** Navigation ****/
nav {
	padding-left: 10px;
	padding-right: 10px;
}
.Home {
	text-transform: uppercase;
}
.Home a {
	color: white;
}
#index {
	background-color: 796B58;
}

/**** Carousel ****/
.carousel-caption {
	padding: 10px 100px 450px 100px;
}
.carousel-caption h3 {
	font-size: 2em;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

/**** Main columns ****/
.row {
	margin: 30px;
}

/**** Work ****/
.images {
	padding: 15px;
}

/**** About ****/
#about {
	background-image: url("../img/frog.jpg");
	background-attachment: fixed; 
	background-size: cover;
	padding-bottom: 180px;
	padding-top: 5px;
	margin: 30px;
	margin-right: 0px;
	margin-left: 0px;
}
#about h1 {
	text-align: left;
	color: white;
	margin-top: 100px;
	margin-bottom: 40px;
	padding-left: 45px;
	text-transform: uppercase;
}
.profilepic {
	padding: 5px;
}
.intro p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
	padding: 5px;
	color: white;
}
.skills {
	background-color: #70D466;
	color: #FFF;
	padding: 38px 0;
}
.skills h3 {
	text-align: center;
	text-transform: uppercase;
}
.main_text {
	padding-left: 45px;
	color: white;
	background-color: #70D466;
}

/**** FAQ page ****/
#faq {
	display: block;
	margin: 30px;
}

.panel-body {
	font-family: BrandonGrotesque-Regular,sans-serif;
	color: #D7D0DE;
	background-color: #243A2B;
}
.panel-heading {
	text-transform: uppercase;
}
.panel-title {
	color: #0E3309;;
}
.faq {
	text-align: left;
	float: left;
	margin-top: 10px;
}
.modal-button {
	float: right;
	margin-top: 10px;
}
#modalEmbed {
	height: 500px;
	width: 100%;
	padding: 10px;
}

/**** Video ****/
.video {
	margin: auto;
	width: 50%;
}

/**** Contact ****/
#contact {
	margin-top: 30px; 
	background-image: url("../img/magic.jpg");
	background-attachment: fixed;
	background-size: cover;
	color: white;
    padding: 100px;
	padding-top: 30px;
	padding-bottom: 20px;
	height: 500px;
	text-align: left;
}
.form-control {
	width: 60%;
}

/**** Footer ****/
footer {
	display: block;
	padding: 50px;
	text-align: left;
	background-color: #D1BE9C;
	margin: 30px;
}
footer .copyright {
	float: right;
}
footer .social media {
	float: left;
}

/**** General styles ****/
body {
	position: relative;
}
.anchor {
	padding-top: 50px;
}


/*Typography*/
h1
h2
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}
p
li {
	font-family: Georgia, Big Caslon, Baskerville, serif;
}



